body {
  margin: 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/little-chef.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  color: #00ffdf;
  margin: 3rem 0;
}

ul {
  list-style: none;
  width: 250px;
  padding: 0;
  margin: auto;
}

li {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
  margin-left: 0.8rem;
}

li:hover a {
  margin-left: 1rem;
  transition: margin-left 0.2s;
}

/* Media Queries */
@media (max-width: 768px) {
  h1 {
    font-size: 3.3rem;
  }

  ul {
    width: 205px;
  }

  li {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  ul {
    width: 175px;
  }

  li {
    font-size: 1rem;
  }
}
